.wrapper-index{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.wrapper-index .index-left{
    width: 16%;
    background: #2673db;
}
.wrapper-index .index-left .user-photo{
    width: 100%;
    padding: 3vh 0;
    text-align: center
}
.wrapper-index .index-left .user-photo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.wrapper-index .index-left .user-photo>p{
    font-size: 15px;
    color: #fff;
    margin-top: 3px
}
.wrapper-index .index-left .index-left-menu{
    width: 100%;
    height: 100%;
    background: #1362cc;
}
.wrapper-index .index-left .el-submenu .el-menu-item{
    max-width: 100%;
    min-width: 100%;
    background: #37547b !important;
}
.wrapper-index .index-left .el-menu-item .circle{
    font-size: 12px;
    color: #fff
} 
.wrapper-index .index-left .el-submenu .el-menu-item:hover{
    background: #526c8e !important;
    width: 100%
}
.wrapper-index .el-submenu__icon-arrow.el-icon-arrow-down{
    color: #fff;
}
.wrapper-index .index-left .el-menu-vertical-demo.el-menu .icon{
    color: #fff;
    margin-right: 10px
}
.wrapper-index .index-left .el-menu-item.is-active{
    background: #526c8e !important;
}
.wrapper-index .el-menu-vertical-demo.el-menu{
    border-right: none
}
.wrapper-index .index-right{
    width: 84%;
}
.index-right .right-header{
    width: 100%;
    height: 7vh;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.index-right .right-header .header-container{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-header .header-container .header-left>.iconfont{
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    color: #000;
    margin-left: 3vw;
}
#reload{
    display: inline-block;
}
.index-right .news{
    position: relative;
    margin-right: 3vw;
    
}
.index-right .news .iconfont{
    font-size: 22px;
    cursor: pointer;
    user-select: none;
}
.index-right .news .news-num{
    position: absolute;
    top: -5px;
    right: -5px;
    color: #fff;
    background: #ff3f3f;
    width: 15px;
    height: 15px;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    border-radius: 50%;
}
.index-right .menu-box{
    width: 100%;
    height: 6vh;
}
.index-right .right-header .header-container .header-right{
    height: 100%;
    display: flex;
    align-items: center;
}
.header-right .exit{
    position: relative;
}
.header-right .exit .iconfont{
    font-size: 18px;
    cursor: pointer;
    user-select: none;
}
.index-right .header-right .exit .text{
    position: absolute;
    bottom: -1vh;
    right: -5.5vw;
    width: 5vw;
    padding: 4px 0px;
    border-radius: 10px;
    text-align: center;
    color: #111;
    font-size: 13px;
    background: #ddd;
    opacity: 0;
    transition: opacity 1s ease
}
.index-right .header-right .exit .text.show{
    opacity: .8;
}
.index-right .menu-box ul{
    display: flex;
    height: 100%;
    align-items: center;
}
.index-right .menu-box ul li{
    padding: 0 10px;
    height: 100%;
    box-sizing: border-box;
    line-height: 6vh;
    font-size: 15px;
    cursor: pointer;
    user-select: none;
}
.index-right .menu-box ul li.menu-active{
    border-top: 2px solid #1362cc;
    background: #eff5fc;
    color: #1362cc
}
.index-right .menu-box ul li .menu-name{
    margin-left: 5px;
}
.index-right .right-content{
    width: 100%;
    height: 100%;
    background: #f7f7f7;
}
.wrapper-index .index-left-menu.fixed{
    position: fixed;
    top: 0;
    width: 16%
}
.wrapper-index .index-right .fixed{
    position: fixed;
    top: 0;
    width: 84%;
    z-index: 999;
    background: #fff;
}
