.add-class-wrapper{
    width: 100%;
    height: 100%;
    background: #f7f7f7;
    padding-top: 3vh;
}
.add-class-wrapper .add-class-box{
    width: 98%;
    margin: 0vh auto;
}
.add-class-wrapper .add-class-box .search{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #111;
}
.add-class-wrapper .add-class-box .search{
    padding: 1.5vh 1vw;
    background: #ffff;
    border-left: 4px solid #1362cc
}
.add-class-wrapper .search .el-select{
    margin-left: 1vw
}
.add-class-wrapper .search .el-select .el-input.el-input--suffix{
    width: 50%;
}
.search .el-select .el-input{
    width: 60%
}
.search .time .endDate{
    margin-left: 0.5vw
}
.search .el-icon-search{
    margin-left: 2vw
}
.search .add-ident{
    position: absolute;
    top: 50%;
    right: 3vw;
    transform: translate(0,-50%)
}
.add-class-wrapper .table{
    width: 100%;
    background: #fff;
    margin-top: 2vh;
    padding-bottom: 3vh
}
.add-class-wrapper .table .table-title{
    height: 7vh;
    line-height: 7vh;
    font-size: 16px;
    font-weight: 600;
    text-indent: 0.5em;
    border-bottom: 1px solid #eee
}
.add-class-wrapper .el-button.el-button--text.el-button--small{
    color: #111;
    margin: 0 10px
}
.add-class-wrapper .el-button.el-button--text.el-button--small:nth-child(1) .iconfont{
    color: #7d96f4;
    margin-right: 3px
}
.add-class-wrapper .el-button.el-button--text.el-button--small:nth-child(2) .iconfont{
    color: #ffbdc7;
    margin-right: 3px
}
.add-class-wrapper .el-button.el-button--text.el-button--small:nth-child(3) .iconfont{
    color: #33CC00;
    margin-right: 3px
}
.add-class-wrapper .identity{
    display: inline-block;
    margin-left: -5vw
}
.add-class-wrapper .identity .el-input{
    width: auto
}
.add-class-box .el-table__body .red{
    color: #ff637b
}
.add-class-box .el-table__body .green{
    color: #4f70f0
}
.add-class-wrapper .el-button--primary,
.add-class-wrapper .el-button--primary{
    background: #1362cc;
    border-color: #1362cc
}
.add-class-wrapper .el-button--primary:focus,
.add-class-wrapper .el-button--primary:hover{
    background: #1301ec;
    border-color: #1302cc
}
.add-class-wrapper .el-checkbox.is-bordered{
    margin-bottom: 3vh
}
.add-class-wrapper .el-checkbox.is-bordered+.el-checkbox.is-bordered{
    margin-left: 0
}
.add-class-wrapper .el-dialog{
    margin-top: 2vh !important;
}
.add-class-wrapper .el-input.el-input--suffix{
    margin-right: 2vw;
}
 